.nafis-filter-form {
  margin: 1rem 0;
  padding: 1rem;
  background: #f9f9f9;
  border: 1px solid #e2e2e2;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nafis-filter-form .headline {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nafis-field {
  display: flex;
  flex-direction: column;
}

.nafis-field label {
  font-weight: 600;
  margin: 4px;
  font-size: 13px;
  color: #333;
}

.nafis-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.nafis-grid input[type="text"],
.nafis-grid select,
.nafis-grid input[type="date"] {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 13px;
}

.nafis-grid .button {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 13px;
}

.nafis-filter-actions {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

.button-large {
  padding: 8px 16px;
  font-size: 14px;
  line-height: 1.5;
}

.wp-list-table .column-barcode {
  width: 250px;
  min-width: 250px;
}

.wp-list-table .column-receiverName {
  width: 180px;
  min-width: 180px;
}

.wp-list-table .column-branchName {
  width: 150px;
}

.wp-list-table .column-weight {
  width: 100px;
}

.nafis-filter-badge {
  display: inline-block;
  margin-right: 6px;
  font-size: 13px;
  color: #e8354a;
  border-radius: 4px;
  font-weight: 500;
}

mark.order-status.status-nafis-barcode {
  color: white;
  background-color: #e8354a;
}

/* Layout */
.nafis-express-shipping-title-plugin-page {
  color: #e8354a;
  padding: 12px;
}

.nafis-express-shipping-layout-admin {
  background: #fff;
  border-radius: 12px;
  padding: 24px;
  margin-left: 24px;
  margin-top: 32px;
}

/* Login */
.nafis-login-wrapper {
  background: #fff;
  border-radius: 12px;
  padding: 24px 0;
  width: 100%;
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
}

.nafis-login-box {
  background: #fff;
  border-radius: 12px;
  padding: 24px 32px;
  box-shadow: 0px 2px 20px 4px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 320px;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.nafis-login-box label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  font-size: 14px;
}

.nafis-login-box input[type="text"],
.nafis-login-box input[type="password"] {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccd0d4;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.nafis-login-box input[type="submit"] {
  width: 100%;
  background-color: #007cba;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nafis-login-box input[type="submit"]:hover {
  background-color: #005fa3;
}


/* Tabs */
.tab-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

.tab {
  background-color: #fff;
  box-shadow: 0px 2px 20px 4px rgba(0, 0, 0, 0.05);
  padding: 12px;
  border-radius: 12px;
  text-decoration: none;
}

.active-tab {
  background-color: #e8354a;
  color: #fff;
}